__pycache__/
*.py[cod]

backend/eppabasic_backend/database.db
*.sublime-*

node_modules
www
log
virtenv
tools/settings.ini

*.min.js
*.min.js.map

static/.htaccess

# Visual studio files
*.csproj
*.csproj.user
obj/
bin/
web.Debug.config
web.Release.config
web.config
