__pycache__/
*.py[cod]

eppabasic_backend/database.db
*.sublime-*

node_modules/*
build/*
doc/*
virtenv/*
tools/settings.ini
static

*.min.js
*.min.js.map

/.htaccess

# Visual studio files
*.csproj
*.csproj.user
obj/
bin/
web.Debug.config
web.Release.config
web.config