#user-controls
{
	float: right;
}

#login-link, #logout-link, #pending-link
{
	display: none;
}

.logged-in #logout-link
{
	display: inline;
}

.logged-out #login-link
{
	display: inline;
}

.logged-out #login-box
{
	display: block;
}

.pending #pending-link
{
	display: inline;
}

#user-status a
{
	color: white;
}

.top-right-box
{
	position: absolute;
	right: 0;
	top: 50px;
	padding: 0 10px 20px 10px;

	width: 318px;

	border-left: 3px solid #410C02;
	border-bottom: 3px solid #410C02;
	background-color: black;

	line-height: normal;
}

.top-right-box form a
{
	color: white;
	margin-left: 20px;
}

.top-right-box form label
{
	box-sizing: border-box;
	display: inline-block;
	color: white;
	text-align: right;

	width: 40%;
}

.top-right-box form input
{
	box-sizing: border-box;
	width: 58%;
}

.top-right-box form .input-field
{
	margin: 10px 0;
}

.top-right-box form .submit-box
{
	text-align: right;
}

.top-right-box form input[type="submit"]
{
	width: 100px;
}

.top-right-box form .error-box
{
	color: white;
	border: 1px solid #660000;
	padding: 10px;
	background-color: #220000;
}

.top-right-box form .field-error
{
	text-align: right;
	color: #FFAAAA;
	font-size: 12px;
}