#main-container
{
	flex: 1 1 auto;

	display: flex;
	flex-flow: row;
	align-items: stretch;
}

#editor
{
	flex: 0 0 66%;

	border-right: 2px solid #495692;
	width: 0px;
}

#manual
{
	flex: 1 1 auto;

	padding: 5px;
	max-height: 100%;
	overflow: auto;

	background-color: #111111;
}