#file-dialog-wrapper
{
	z-index: 100;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: black;
	opacity: 0.9;

	display: none;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

#file-dialog-wrapper .file-dialog
{
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;

	min-width: 400px;

	border: 1px solid #495692;
	border-radius: 5px;
	background-color: #090909;
}

#file-dialog-wrapper .header
{
	border-bottom: 1px dotted #495692;
	padding: 5px;
}

#file-dialog-wrapper .list-area
{
	padding: 5px;
}

#file-dialog-wrapper .file-list
{
	list-style-position: inside;
	min-height: 200px;
}

#file-dialog-wrapper .file-list li, #file-dialog-wrapper .file-list li a
{
	color: white;
}

#file-dialog-wrapper .current-directory, #file-dialog-wrapper .current-directory a
{
	color: white;
}

#file-dialog-wrapper .footer
{
	display: flex;
	display: -webkit-flex;
	padding: 5px;
	border-top: 1px dotted #495692;
}

#file-dialog-wrapper input[name="filename"]
{
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

#file-dialog-wrapper input[type="submit"]
{
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	margin-left: 5px;
}