#manual
{
	color: white;
}

#manual h1
{
	margin: 30px 0 15px 0;
	border-bottom: 1px solid #444444;
}

#manual h2
{
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #222222;
}

#manual p
{
	margin: 10px 0;
}

#manual a
{
	color: #3C7386;
}

#manual ul
{
	list-style: none;
	padding-left: 0.5em;
}

#manual li:before
{
	content: "• ";
	color: #555555;
	padding-right: 0.2em;
}

#manual :first-child
{
	margin-top: 0;
}

#manual :last-child
{
	margin-bottom: 0;
}

#manual-header
{
    text-align: right;
}